# Arquivos de Ambiente Virtual
venv/
/venv
*.env
.env

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração e credenciais (o que você já tinha)
config.ini
credentials.json

# Arquivos de IDE (opcional, mas boa prática)
.vscode/
.idea/